/*.modal {
	margin: 90px;
}*/

.modal-content {
	background-color: rgba(255, 255, 255, 0.9);
}

.display-3 {
	font-size: 3.5rem;
}

h4 {
	color: black;
}

.lead, .header-4 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
	background-color: #01BECE;
	border-color: #01BECE;
}

.portfolio-item {
    box-shadow: black 1px 1px 20px 0px;
    transition-duration: 0.2s
}

.portfolio-item:hover {
	box-shadow: black 2px 2px 40px 0px;
}